$icomoon-font-family: "MSIcons" !default;
$icomoon-font-path: "fonts" !default;

$icon-logo: \ead4;
$icon-helicopter-a: \ea93;
$icon-helicopter-b: \ea94;
$icon-helicopter-c: \ea96;
$icon-helicopter-d: \ea97;
$icon-tank-a: \eaaa;
$icon-tank-b: \eab8;
$icon-tank-c: \eabc;
$icon-tank-d: \ead1;
$icon-tank-e: \ead2;
$icon-tank-f: \ead3;
$icon-soldier-a: \e900;
$icon-soldier-a-revert: \ea8f;
$icon-soldier-b: \e905;
$icon-soldier-b-revert: \ea90;
$icon-soldier-c: \e901;
$icon-soldier-c-revert: \ea91;
$icon-soldier-d: \e904;
$icon-soldier-d-revert: \ea92;
$icon-soldier-e: \e903;
$icon-motocycle: \e912;
$icon-car: \e956;
$icon-truck: \e957;
$icon-bus: \e958;
$icon-train: \e961;
$icon-submarine: \e968;
$icon-ship: \e969;
$icon-tank: \e96f;
$icon-helicopter: \e970;
$icon-aircraft: \e981;
$icon-airplane: \e98a;
$icon-plane: \e98c;
$icon-drone: \e9cc;
$icon-air-defense: \e9cd;
$icon-shelling: \e9df;
$icon-mines: \eaa9;
$icon-arrest: \e9e0;
$icon-atgm: \e9fd;
$icon-missile-launch: \e9fe;
$icon-missile: \ea06;
$icon-man-pads: \ea22;
$icon-machine-gun: \ea25;
$icon-gun: \ea2a;
$icon-assault-rifle: \ea34;
$icon-sward: \ea35;
$icon-gas: \ea36;
$icon-explosion: \ea3e;
$icon-fire: \ea40;
$icon-koktail: \ea41;
$icon-satellite: \ea42;
$icon-health: \ea43;
$icon-health-cube: \eaae;
$icon-terrorist: \ea50;
$icon-chemical: \ea51;
$icon-dictatorship: \ea5a;
$icon-casualties: \ea5d;
$icon-nuce: \eab6;
$icon-bio: \eab7;
$icon-oil: \eaa7;
$icon-ruins: \eaa2;
$icon-port: \eaa4;
$icon-stronghold: \ea9e;
$icon-building: \eab5;
$icon-camp: \eab3;
$icon-food: \ea95;
$icon-money: \eaa8;
$icon-water: \ea98;
$icon-time: \ea99;
$icon-target: \ea9a;
$icon-sun: \ea9b;
$icon-snow: \ea9c;
$icon-stop: \ea9d;
$icon-down: \ea9f;
$icon-stock: \eaa0;
$icon-signal: \eaa1;
$icon-radar: \eaa3;
$icon-people: \eaa6;
$icon-flag: \eaab;
$icon-electricity: \eaac;
$icon-drop: \eaad;
$icon-construction: \eaaf;
$icon-cluster: \eab0;
$icon-cloud: \eab1;
$icon-earthquake: \eab2;
$icon-call: \eab4;
$icon-authority: \eaba;
$icon-attention: \eabb;
$icon-balloons: \eab9;
$icon-picture: \eaa5;
$icon-social-android: \e94d;
$icon-social-apple: \ea63;
$icon-social-dribbble: \ea69;
$icon-social-dropbox-alt: \ea6a;
$icon-social-dropbox: \ea6b;
$icon-social-drupal: \ea6c;
$icon-social-facebook: \ea6d;
$icon-social-flickr-alt: \ea6e;
$icon-social-flickr: \ea6f;
$icon-social-github: \ea70;
$icon-social-google: \ea71;
$icon-social-instagram: \ea72;
$icon-social-jsfiddle: \ea73;
$icon-social-linkedin: \ea74;
$icon-social-linux: \ea75;
$icon-social-microsoft-alt: \ea76;
$icon-social-microsoft: \ea77;
$icon-social-pinterest-alt: \ea78;
$icon-social-pinterest: \ea79;
$icon-social-reddit: \ea7a;
$icon-social-skype: \ea7b;
$icon-social-soundcloud: \ea7c;
$icon-social-stack-overflow: \ea7d;
$icon-social-trello: \ea7e;
$icon-social-tumblr-alt: \ea7f;
$icon-social-tumblr: \ea80;
$icon-social-twitter-alt: \ea81;
$icon-social-twitter: \ea82;
$icon-social-vimeo-alt: \ea83;
$icon-social-vimeo: \ea84;
$icon-social-wordpress: \ea85;
$icon-social-yahoo: \ea86;
$icon-social-youtube: \ea87;
$icon-social-youtube-minimal: \ea88;
$icon-social-patreon: \ea89;
$icon-social-patreon-alt: \ea8a;
$icon-pencil-alt: \e95e;
$icon-pen: \e96a;
$icon-eyedropper: \e972;
$icon-droplet: \e989;
$icon-paint-format: \e9f6;
$icon-stack: \e9f7;
$icon-folder: \ea0d;
$icon-folder-open: \ea5c;
$icon-folder-plus: \eac0;
$icon-folder-minus: \eac1;
$icon-folder-download: \eac2;
$icon-folder-upload: \eac3;
$icon-support1: \eac4;
$icon-enlarge: \eac5;
$icon-shrink: \eac6;
$icon-target1: \eac7;
$icon-earth: \eac8;
$icon-eye: \eac9;
$icon-eye-plus: \eaca;
$icon-eye-minus: \eacb;
$icon-eye-blocked: \eacc;
$icon-enter: \eacd;
$icon-exit: \eace;
$icon-scissors: \eacf;
$icon-insert-template: \ead0;
$icon-users: \e908;
$icon-agenda: \e902;
$icon-alarm-clock: \e906;
$icon-alert: \e907;
$icon-align-center: \e909;
$icon-align-justify: \e90a;
$icon-align-left: \e90b;
$icon-align-right: \e90c;
$icon-anchor: \e90d;
$icon-angle-double-down: \e90e;
$icon-angle-double-left: \e90f;
$icon-angle-double-right: \e910;
$icon-angle-double-up: \e911;
$icon-angle-down: \e913;
$icon-angle-left: \e914;
$icon-angle-right: \e915;
$icon-angle-up: \e916;
$icon-announcement: \e917;
$icon-archive: \e918;
$icon-arrow-circle-down: \e919;
$icon-arrow-circle-left: \e91a;
$icon-arrow-circle-right: \e91b;
$icon-arrow-circle-up: \e91c;
$icon-arrow-down: \e91d;
$icon-arrow-left: \e91e;
$icon-arrow-right: \e91f;
$icon-arrow-top-left: \e920;
$icon-arrow-top-right: \e921;
$icon-arrow-up: \e922;
$icon-arrow: \e923;
$icon-arrows-corner: \e924;
$icon-arrows-horizontal: \e925;
$icon-arrows-vertical: \e926;
$icon-back-left: \e927;
$icon-back-right: \e928;
$icon-bag: \e929;
$icon-bar-chart-alt: \e92a;
$icon-bar-chart: \e92b;
$icon-basketball: \e92c;
$icon-bell: \e92d;
$icon-blackboard: \e92e;
$icon-bolt-alt: \e92f;
$icon-bolt: \e930;
$icon-book: \e931;
$icon-bookmark-alt: \e932;
$icon-bookmark: \e933;
$icon-briefcase: \e934;
$icon-brush-alt: \e935;
$icon-brush: \e936;
$icon-calendar: \e937;
$icon-camera: \e938;
$icon-car1: \e939;
$icon-check-box: \e93a;
$icon-check: \e93b;
$icon-clip: \e93c;
$icon-clipboard: \e93d;
$icon-close: \e93e;
$icon-cloud-down: \e93f;
$icon-cloud-up: \e940;
$icon-cloud1: \e941;
$icon-comment-alt: \e942;
$icon-comment: \e943;
$icon-comments-smiley: \e944;
$icon-comments: \e945;
$icon-control-backward: \e946;
$icon-control-eject: \e947;
$icon-control-forward: \e948;
$icon-control-pause: \e949;
$icon-control-play: \e94a;
$icon-control-record: \e94b;
$icon-control-shuffle: \e94c;
$icon-control-skip-backward: \e94e;
$icon-control-skip-forward: \e94f;
$icon-control-stop: \e950;
$icon-credit-card: \e951;
$icon-crown: \e952;
$icon-cup: \e953;
$icon-cut: \e954;
$icon-dashboard: \e955;
$icon-desktop: \e959;
$icon-direction-alt: \e95a;
$icon-direction: \e95b;
$icon-download: \e95c;
$icon-dribbble: \e95d;
$icon-email: \e95f;
$icon-envelope: \e960;
$icon-eraser: \e962;
$icon-exchange-vertical: \e963;
$icon-export: \e964;
$icon-face-sad: \e965;
$icon-face-smile: \e966;
$icon-file: \e967;
$icon-files: \e96b;
$icon-filter: \e96c;
$icon-flag-alt-2: \e96d;
$icon-flag-alt: \e96e;
$icon-flag1: \e971;
$icon-fullscreen: \e973;
$icon-gallery: \e974;
$icon-game: \e975;
$icon-gift: \e976;
$icon-hand-drag: \e977;
$icon-hand-point-down: \e978;
$icon-hand-point-left: \e979;
$icon-hand-point-right: \e97a;
$icon-hand-point-up: \e97b;
$icon-hand-stop: \e97c;
$icon-harddrive: \e97d;
$icon-harddrives: \e97e;
$icon-headphone-alt: \e97f;
$icon-headphone: \e980;
$icon-heart-broken: \e982;
$icon-heart: \e983;
$icon-help-alt: \e984;
$icon-help: \e985;
$icon-home: \e986;
$icon-hummer: \e987;
$icon-id-badge: \e988;
$icon-image: \e98b;
$icon-import: \e98d;
$icon-infinite: \e98e;
$icon-info-alt: \e98f;
$icon-info: \e990;
$icon-Italic: \e991;
$icon-jsfiddle: \e992;
$icon-key: \e993;
$icon-layers-alt: \e994;
$icon-layers: \e995;
$icon-layout-accordion-list: \e996;
$icon-layout-accordion-merged: \e997;
$icon-layout-accordion-separated: \e998;
$icon-layout-column2-alt: \e999;
$icon-layout-column2: \e99a;
$icon-layout-column3-alt: \e99b;
$icon-layout-column3: \e99c;
$icon-layout-column4-alt: \e99d;
$icon-layout-column4: \e99e;
$icon-layout-cta-btn-left: \e99f;
$icon-layout-cta-btn-right: \e9a0;
$icon-layout-cta-center: \e9a1;
$icon-layout-cta-left: \e9a2;
$icon-layout-cta-right: \e9a3;
$icon-layout-grid2-alt: \e9a4;
$icon-layout-grid2-thumb: \e9a5;
$icon-layout-grid2: \e9a6;
$icon-layout-grid3-alt: \e9a7;
$icon-layout-grid3: \e9a8;
$icon-layout-grid4-alt: \e9a9;
$icon-layout-grid4: \e9aa;
$icon-layout-line-solid: \e9ab;
$icon-layout-list-large-image: \e9ac;
$icon-layout-list-post: \e9ad;
$icon-layout-list-thumb-alt: \e9ae;
$icon-layout-list-thumb: \e9af;
$icon-layout-media-center-alt: \e9b0;
$icon-layout-media-center: \e9b1;
$icon-layout-media-left-alt: \e9b2;
$icon-layout-media-left: \e9b3;
$icon-layout-media-overlay-alt-2: \e9b4;
$icon-layout-media-overlay-alt: \e9b5;
$icon-layout-media-overlay: \e9b6;
$icon-layout-media-right-alt: \e9b7;
$icon-layout-media-right: \e9b8;
$icon-layout-menu-full: \e9b9;
$icon-layout-menu-separated: \e9ba;
$icon-layout-menu-v: \e9bb;
$icon-layout-menu: \e9bc;
$icon-layout-placeholder: \e9bd;
$icon-layout-sidebar-2: \e9be;
$icon-layout-sidebar-left: \e9bf;
$icon-layout-sidebar-none: \e9c0;
$icon-layout-sidebar-right: \e9c1;
$icon-layout-slider-alt: \e9c2;
$icon-layout-slider: \e9c3;
$icon-layout-tab-min: \e9c4;
$icon-layout-tab-v: \e9c5;
$icon-layout-tab-window: \e9c6;
$icon-layout-tab: \e9c7;
$icon-layout-width-default-alt: \e9c8;
$icon-layout-width-default: \e9c9;
$icon-layout-width-full: \e9ca;
$icon-layout: \e9cb;
$icon-light-bulb: \e9ce;
$icon-line-dashed: \e9cf;
$icon-line-dotted: \e9d0;
$icon-line-double: \e9d1;
$icon-link: \e9d2;
$icon-list-ol: \e9d3;
$icon-list: \e9d4;
$icon-location-arrow: \e9d5;
$icon-location-pin: \e9d6;
$icon-lock: \e9d7;
$icon-loop: \e9d8;
$icon-magnet: \e9d9;
$icon-map-alt: \e9da;
$icon-map: \e9db;
$icon-marker-alt: \e9dc;
$icon-marker: \e9dd;
$icon-medall-alt: \e9de;
$icon-medall: \e9e1;
$icon-menu-alt: \e9e2;
$icon-menu: \e9e3;
$icon-microphone-alt: \e9e4;
$icon-microphone: \e9e5;
$icon-minus: \e9e6;
$icon-plus: \e9e7;
$icon-mobile: \e9e8;
$icon-money1: \e9e9;
$icon-more-alt: \e9ea;
$icon-more-alt-vertical: \e9eb;
$icon-more: \e9ec;
$icon-more-vertical: \e9ed;
$icon-mouse-alt: \e9ee;
$icon-mouse: \e9ef;
$icon-music-alt: \e9f0;
$icon-music: \e9f1;
$icon-na: \e9f2;
$icon-new-window: \e9f3;
$icon-notepad: \e9f4;
$icon-package: \e9f5;
$icon-paint-bucket: \e9f8;
$icon-paint-roller: \e9f9;
$icon-palette: \e9fa;
$icon-panel: \e9fb;
$icon-paragraph: \e9fc;
$icon-pencil: \e9ff;
$icon-pie-chart: \ea00;
$icon-pin-alt: \ea01;
$icon-pin: \ea02;
$icon-pin2: \ea03;
$icon-plug: \ea04;
$icon-power-off: \ea05;
$icon-printer: \ea07;
$icon-pulse: \ea08;
$icon-quote-left: \ea09;
$icon-quote-right: \ea0a;
$icon-receipt: \ea0b;
$icon-reload: \ea0c;
$icon-rocket: \ea0e;
$icon-rss-alt: \ea0f;
$icon-rss: \ea10;
$icon-ruler-alt-2: \ea11;
$icon-ruler-alt: \ea12;
$icon-ruler: \ea13;
$icon-save-alt: \ea14;
$icon-save: \ea15;
$icon-search: \ea16;
$icon-server: \ea17;
$icon-settings: \ea18;
$icon-share-alt: \ea19;
$icon-share: \ea1a;
$icon-sharethis-alt: \ea1b;
$icon-sharethis: \ea1c;
$icon-shield: \ea1d;
$icon-shift-left-alt: \ea1e;
$icon-shift-left: \ea1f;
$icon-shift-right-alt: \ea20;
$icon-shift-right: \ea21;
$icon-shine: \ea23;
$icon-shopping-cart-full: \ea24;
$icon-shopping-cart: \ea26;
$icon-shortcode: \ea27;
$icon-signal1: \ea28;
$icon-slice: \ea29;
$icon-smallcap: \ea2b;
$icon-split-h: \ea2c;
$icon-split-v-alt: \ea2d;
$icon-split-v: \ea2e;
$icon-spray: \ea2f;
$icon-stamp: \ea30;
$icon-star: \ea31;
$icon-stats-down: \ea32;
$icon-stats-up: \ea33;
$icon-support: \ea37;
$icon-tablet: \ea38;
$icon-tag: \ea39;
$icon-target2: \ea3a;
$icon-text: \ea3b;
$icon-thought: \ea3c;
$icon-thumb-down: \ea3d;
$icon-thumb-up: \ea3f;
$icon-ticket: \ea44;
$icon-time1: \ea45;
$icon-timer: \ea46;
$icon-trash: \ea47;
$icon-truck1: \ea48;
$icon-underline: \ea49;
$icon-unlink: \ea4a;
$icon-unlock: \ea4b;
$icon-upload: \ea4c;
$icon-uppercase: \ea4d;
$icon-user: \ea4e;
$icon-vector: \ea4f;
$icon-video-camera: \ea52;
$icon-video-clapper: \ea53;
$icon-view-grid: \ea54;
$icon-view-list-alt: \ea55;
$icon-view-list: \ea56;
$icon-volume: \ea57;
$icon-wallet: \ea58;
$icon-wand: \ea59;
$icon-wheelchair: \ea5b;
$icon-widget-alt: \ea5e;
$icon-widget: \ea5f;
$icon-widgetized: \ea60;
$icon-window: \ea61;
$icon-world: \ea62;
$icon-zip: \ea64;
$icon-zoom-in: \ea65;
$icon-zoom-out: \ea66;
$icon-cursor: \eabd;
$icon-draw-ctrl-arrow: \ea67;
$icon-draw-ctrl-line: \ea68;
$icon-draw-ctrl-line-free: \ea8b;
$icon-draw-ctrl-polygon: \ea8c;
$icon-merge: \eabe;
$icon-split: \eabf;
$icon-draw-ctrl-measure: \ea8d;
$icon-draw-ctrl-marker: \ea8e;

