* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--font-line-height);
  color: var(--font-color);
  background: var(--body-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}