:root {
  // Colors
  // **********************
  //--color-black: #000000;
  //--color-gray: #afafaf;
  //--color-white: #FFFFFF;
  //--color-brand: #1677ff;

  // Font
  // **********************
  --font-family: 'Arial';
  --font-weight: 400;
  --font-size: 16px;
  --font-color: #dcdcdc;
  --font-line-height: 1.5;

  // General
  // **********************
  --body-background: #1e1e1e;
  --sidebar-background: #282828;

  // Card
  --levitation-middle: 4px 4px 8px #00000025;
}
